In [3]:
total_earnings = 1415024
tds = [7692, 7735, 7782, 8580, 8658, 6518, 7735, 7860, 10616, 13050, 13049, 13049]
deductions = [ 10842, 12084, 12131, 15168, 13106, 14323, 14448, 17224, 19638, 15749, 15749]

In [4]:
total_tax = sum(deductions)
earnings_after_tax = total_earnings - total_tax
print('Total Earnings: ', total_earnings)
print('-    Total Tax: ', total_tax)
print('=   Net Income: ',earnings_after_tax)
print('---------------------------')
print(' Total TDS : ', sum(tds))

Total Earnings:  1415024
-    Total Tax:  160462
=   Net Income:  1254562
---------------------------
 Total TDS :  112324